<div class="modal fade" [id]="'modal'" tabindex="-1" aria-labelledby="'modal'" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" [id]="'modal' + 'label'"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="./assets/photos/photo1.jpeg" alt="...">
          <hr>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" [id]="'modal1'" tabindex="-1" aria-labelledby="'modal'" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" [id]="'modal2' + 'label'"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="./assets/photos/photo2.jpeg" alt="...">
          <hr>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" [id]="'modal2'" tabindex="-1" aria-labelledby="'modal'" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" [id]="'modal2' + 'label'"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="./assets/photos/photo3.jpeg" alt="...">
          <hr>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" [id]="'modal3'" tabindex="-1" aria-labelledby="'modal'" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" [id]="'modal2' + 'label'"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="./assets/photos/photo4.jpeg" alt="...">
          <hr>
        </div>
      </div>
    </div>
</div>